@model InventoryMnamgmentSystemV5.Models.VUsers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VUsers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agency.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency.AgencyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
