@model IEnumerable<InventoryMnamgmentSystemV5.Models.VUsers>

@{
    ViewBag.Title = "Index";
}

<h2>المستخدمين</h2>

<div>
    <p>
        @Html.ActionLink("اضافة مستخدم", "Create")
    </p>
    <form>
        اسم المستخدم: <input type="text" name="searchString"/>
        <input type="submit" value="بحث"/>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            <h3>اسم المستخدم</h3>
        </th>
        <th>
            <h3>الإدارة</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agency.AgencyName)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.UserID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
