@model IEnumerable<InventoryMnamgmentSystemV5.Models.StoreItems>

@{
    ViewBag.Title = "Index";
}

<h2>العناصر حسب المستودع</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div>
    <form style="margin:7px">
        الرقم التسلسلي: <input type="text" name="searchString"/>
        <input type="submit" value="بحث"/>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            <h3>الرقم التسلسلي</h3>
        </th>
        <th>
            <h3>اسم المخزن</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Items.ISerialNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stores.StoreName)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.RecordId }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.RecordId }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.RecordId })
        </td>
    </tr>
}

</table>
