@model InventoryMnamgmentSystemV5.Models.IStatus

@{
    ViewBag.Title = "Create";
}

<h2>اضافة حالة</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>IStatus</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin:7px">
            <h5>رمز الحالة</h5>
            <div class="">
                @Html.EditorFor(model => model.StatusID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-right:7px; margin-top:20px">
            <h5>اسم الحالة</h5>
            <div class="">
                @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StatusName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:7px">
                <input type="submit" value="اضافة" class="btn btn-default" style="border-color:#808080"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("الصفحة الرئيسية", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
