@model InventoryMnamgmentSystemV5.Models.ItemHistory

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ItemHistory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin:7px">
            <h5>الرقم التسلسلي</h5>
            <div class="">
                @Html.DropDownList("ItemId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-right:7px; margin-top:20px">
            <h5>اسم المستخدم</h5>
            <div class="">
                @Html.DropDownList("CurrentOwnerID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CurrentOwnerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-right:7px; margin-top:20px">
            <h5>حالة العنصر</h5>
            <div class="">
                @Html.DropDownList("CurrentStatusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CurrentStatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-right:7px; margin-top:20px">
            <h5>ملاحظات</h5>
            <div class="">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:7px">
                <input type="submit" value="Create" class="btn btn-default" style="border-color:#808080"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
