@model IEnumerable<InventoryMnamgmentSystemV5.Models.IMovingItem>

@{
    ViewBag.Title = "Report";
}

<h2>تقرير العناصر المنقولة</h2>


<table class="table">
    <tr>
        <th>
            <h4>الرقم التسلسي</h4>
        </th>
        <th>
            <h4>المستخدم السابق</h4>
        </th>
        <th>
            <h4>المستخدم الحالي</h4>
        </th>
        <th>
            <h4>حالة العنصر</h4>
        </th>
        <th>
            <h4>ملاحظات</h4>
        </th>
        <th>
            <h4>التاريخ والوقت</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Items.ISerialNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VUsers1.UserName) @*المستخدم السابق*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VUsers.UserName) @*المستخدم الحالي*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IStatus.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curretnDateTime)
        </td>
    </tr>
}

</table>
